html {
  background-color: black;
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 3%;
}

#main_block {
  background-color: white;
  padding: 20px;
}
#top_block {
}
#order_block {
  clear: both;

  margin: 10px;
  padding-top: 10px;
}
#order_no {
  float: left;
}
#sp{
    float: right;

    border: 1px black solid;
    background-color: black;
    color: white;

}
#renew {
  float: right;

  border: 1px black solid;
    background-color: black;
    color: white;

    margin: 0 5px;
}
.name_of_dish .price_of_dish {
  /*display: inline-block;
  margin-bottom: 10px;
  */
}
.name_of_dish {
  /*display: inline;*/

  float: left;
}
.abbr_name {
  clear: both;
  color: white;
  font-size: small;
}
.price_of_dish {
  /*display: inline;*/
  float: right;
}
.extra {
  clear: both;
  border-left: 2px grey solid;
  margin-left: 30px;
  padding-left: 10px;
  line-height: 30px;

  margin-top: 10px;
}
.customize {
  color: palevioletred;
  margin-left: 10px;
  font-size: small;
  margin: 7px;
}
#buttom_block {
  background-color: white;
  margin-bottom: 30px;
}
#display_ans {
  float: right;
  border: 1px black solid;
    background-color: black;
    color: white;
}
